# It's not recommended to modify this file in-place, because it will be
# overwritten during package upgrades.  If you want to customize, the
# best way is to create a file "/etc/systemd/system/mamonsu.service",
# containing
#      .include /lib/systemd/system/mamonsu.service
#      ...make your changes here...
# For more info about custom unit files, see
# http://fedoraproject.org/wiki/Systemd#How_do_I_customize_a_unit_file.2F_add_a_custom_unit_file.3F

[Unit]
Description=Zabbix active agent for PostgreSQL
After=syslog.target
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
KillMode=process
User={{ mamonsu_service_user }}
Group={{ mamonsu_service_user }}
RuntimeDirectory=mamonsu
# Path to the init file
Environment=CONF=/etc/mamonsu/agent.conf

# Where to send early-startup messages from the server.
# This is normally controlled by the global default set by systemd
# StandardOutput=syslog
ExecStart=/usr/bin/mamonsu -a /etc/mamonsu/plugins -c /etc/mamonsu/agent.conf
# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

[Install]
WantedBy=multi-user.target
